<%- include('layout/headerUser') %>

<div class="d-flex justify-content-around ">
<a href="#" class="top-selectors">EBIKES</a>
<a href="#" class="top-selectors">BICYCLES</a>
<a href="#" class="top-selectors">ACCESSORIES</a>
<a href="#" class="top-selectors">CLOTHING</a>
<a href="#" class="top-selectors">SERVICE</a>
</div>


<div class="cover-image-container">
    <img id="cover-image" src="<%= images.cover %>" alt="Your Image">
    <div class="text-over-image">
        Off to the weekend Unforgettable short trips by bike
    </div>
</div>








<%- include('layout/footerUser') %>