.header-order {
    background-color: #246c1c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: .5rem;
}


main {
    margin: 0 auto;
    padding: 20px;
}

.order-container {
    background-color: #fff;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.order-container a{
  text-decoration: none;
  color: black;
}
.order-container a :hover{
  text-decoration: none;
  color: rgb(84, 79, 79);
}
.order {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap; /* Wrap order items on smaller screens */
    justify-content: space-between;
    align-items: center;
}



.order h2 {
    font-size: 24px;
    margin: 0;
}

.order-items {
    list-style: none;
    padding: 0;
}

.order-item {
    font-size: 18px;
    margin-bottom: 10px;
}
.invoice-container{
  display: flex;
  justify-content: end;
  padding: 10px;
}
.order-total {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: flex-end; /* Horizontally align the content to the right */
    align-items: flex-end; /* Align items to the right */
    height: 80px;
    font-size: 20px;
    font-weight: bold;
}

.order-total p {
    margin-bottom: 10px; /* Add margin between paragraphs */
}

.order-total-price {
    padding: 20px;
}

.discount-paragraph {
    font-size: 18px; /* Set a smaller font size */
    font-weight: normal; /* Remove bold styling */
}

.order .order-image {
    height: 80px;
    width: 100px;
}

.order-outline {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap; /* Wrap outline items on smaller screens */
    justify-content: space-between;
    align-items: center;
}

.order-cancel-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.order-status {
    display: inline-block;
}

#payment-error{
    color: red;
}


/* button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  } */
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .modal-container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    opacity: 0.9;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    max-width: 70%; /* Could be more or less, depending on screen size */
    width: auto;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .redCircle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    background-color: #f44336;
  }

  .greenCircle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px;
    background-color: #246c1c;
  }
  
.orderStatus{
  display: flex;
  align-items: center;
  text-align: center;
}


  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }
/* Media query for screens below 900px wide */
@media (max-width: 900px) {
    .order {
        flex-direction: column; /* Stack order items in a column for smaller screens */
    }

    .order-outline,
    .order-container {
        padding: 10px; /* Reduce padding on smaller screens */
    }

    .order h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .order-total {
        height: auto; /* Allow the total section to grow in height for smaller screens */
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}
