.thumbnail-item {
  border: 2px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.thumbnail-item.active {
  border-color: #007bff;
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

.zoom_img {
  width: 100%;
  transition: transform 0.3s ease;

  .button-orders{
    display: flex;
    justify-content: space-between;
  }