.header-orders {
    background-color: #246c1c;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 0 auto;
    padding: 20px;
}

.order-container {
    background-color: #fff;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.order {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap; /* Wrap order items on smaller screens */
    justify-content: space-between;
    align-items: center;
}

.order h2 {
    font-size: 24px;
    margin: 0;
}

.order-items {
    list-style: none;
    padding: 0;
}

.order-item {
    font-size: 18px;
    margin-bottom: 10px;
}

.order-total {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: flex-end; /* Horizontally align the content to the right */
    align-items: flex-end; /* Align items to the right */
    height: 80px;
    font-size: 20px;
    font-weight: bold;
}

.order-total p {
    margin-bottom: 10px; /* Add margin between paragraphs */
}

.order-total-price {
    padding: 20px;
}

.discount-paragraph {
    font-size: 18px; /* Set a smaller font size */
    font-weight: normal; /* Remove bold styling */
}

.order .order-image {
    height: 80px;
    width: 100px;
}

.order-outline {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap; /* Wrap outline items on smaller screens */
    justify-content: space-between;
    align-items: center;
}

.order-cancel-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.order-status {
    display: inline-block;
}

#payment-error{
    color: red;
}

/* Media query for screens below 900px wide */
@media (max-width: 900px) {
    .order {
        flex-direction: column; /* Stack order items in a column for smaller screens */
    }

    .order-outline,
    .order-container {
        padding: 10px; /* Reduce padding on smaller screens */
    }

    .order h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .order-total {
        height: auto; /* Allow the total section to grow in height for smaller screens */
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}
