<%- include('../layout/headerUser') %>
  <%- include('../layout/formatPrice') %>



  <div class="rat-ng-container">
    <center><h3>Product review</h3></center>
    
    <form action="/user/submit-review" method="post">
      <label for="score">Enter your score</label>
      <input type="number" name="score" placeholder="Your score out of 5" max="5" min="0" step="0.1">
      
      <label for="title">Review Title</label>
      <input type="text" name="title" placeholder="Review Title">
      
      <label for="description">Description</label>
      <textarea name="description" placeholder="Write your review here"></textarea>
  
      <input type="text" name="productId" value="<%= productId %>" >
      
      <button class="btn btn-success rate-submit-btn" type="submit">Submit</button>
    </form>
  </div>





  <%- include('../layout/footerUser') %>