<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="/css/adminOrderDetView.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>function checker(){
      if(window.confirm("Are you sure want to delete this product")){
        document.getElementById("deleteProduct").submit();
      } else {
        return;
      };

    }</script>
    <title>Document</title>
</head>
<body>
    
  <nav class="navbar navbar-dark bg-dark justify-content-between ml-4" >
    <a class="navbar-brand"><i class="fa-solid fa-toolbox"></i><span>Admin Panel</span></a>


    <div class="admin-auth-control">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class='bx bx-user fs-2'></i>Admin
        </a>
        <ul class="dropdown-menu dropdown-menu-end" data-bs-boundary="viewport">
          <li><a class="dropdown-item" href="#">Manage My Account</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" id="signout-btn" style="display: none" href="/admin-auth/logout">Sign out</a></li>
          <li><a class="dropdown-item" id="signin-btn"  style="display: none" href="/adminLogin">sign in</a></li>
        </ul>
      </li>
    </div>

    <!-- <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://media.istockphoto.com/id/1283030328/photo/silhouette-of-businessman-holding-target-board-on-the-top-of-mountain-with-over-blue-sky-and.jpg?s=1024x1024&w=is&k=20&c=nIw4nWHsCAaI2vrCobW_9MN-r6FmPoOKAT-OaeR1vz8=" alt="Success" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">Admin</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow custom-dropdown-menu">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
              <form action="/admin/logout" method="get">
                  <button type="submit" class="dropdown-item">Sign out</button>
              </form>
          </li>
      </ul>
  </div> -->
    
  </nav>


