<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/cart.css">
  <link rel="stylesheet" href="/css/checkout.css">
  <link rel="stylesheet" href="/css/orders.css">
  <link rel="stylesheet" href="/css/manageAccount.css">
  <link rel="stylesheet" href="/css/wishlist.css">
  <link rel="stylesheet" href="/css/orderDet.css">
  <link rel="stylesheet" href="/css/invoice.css">
  <link rel="stylesheet" href="/css/wallet.css">
  <link rel="stylesheet" href="/css/error.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.rawgit.com/elevateweb/elevatezoom/master/jquery.elevatezoom.js"></script>
  <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>



  <link rel="icon" href="/favicon/favicon.jpg" type="image/x-icon">

  <title>crazEbikes.com</title>
</head>

<body>
  <div class="container-one">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <img id="logoimg" src="<%= imgUri %><%= images.logo %>" alt="">
        <a class="navbar-brand" id="sitename" href="#"><span id="Bname1">craz</span><span id="Bname2">Ebikes</span><span
            id="Bname3">.com</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class='bx bx-menu'></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">

          <form action="/user-search" method="post" class="d-flex" role="search">
            <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

          <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><i class='bx bxs-home fs-3'></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/cart-view"><i class='bx bx-cart fs-3'></i>Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/wishlist-view"><i class='bx bxs-heart fs-3'></i>Wishlist</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class='bx bx-user fs-3'></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" data-bs-boundary="viewport">
                <li><a class="dropdown-item" href="/user/manage-account">Manage My Account</a></li>
                <li><a class="dropdown-item" href="/user/view-my-orders">My orders</a></li>
                <li><a class="dropdown-item" href="/user/wallet">My wallet</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" id="signout-btn" style="display: none" href="/user-auth/logout">Sign
                    out</a>
                </li>
                <li><a class="dropdown-item" id="signin-btn" style="display: none" href="/user-login">sign in</a></li>
              </ul>
            </li>
          </ul>
          <div>
          </div>
        </div>
      </div>
    </nav>

    <div class="d-flex justify-content-around categories ">
      <a href="/ebikes_home?category=Ebike" class="top-selectors">EBIKES</a>
      <a href="/ebikes_home?category=Bike" class="top-selectors">BICYCLES</a>
      <a href="/ebikes_home?category=Accessories" class="top-selectors">ACCESSORIES</a>
      <a href="/ebikes_home?category=Parts" class="top-selectors">PARTS</a>
      <a href="#" class="top-selectors">SERVICE</a>
    </div>